{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div>
    {% if not app.user %}
        <p><a href="{{ path('app_register') }}">Register</a></p>
        <p><a href="{{ path('app_login') }}">Login</a></p>
    {% elseif app.user.isVerified %}
        <p><a href="{{ path('app.swagger_ui') }}">Docs</a></p>
        <p><a href="{{ path('app_logout') }}">Logout</a></p>
    {% endif %}
</div>
{% endblock %}
